*{
        margin: 0;
        padding: 0;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    img{
        max-width: 100%;
    }

    h1, h2{
        font-family: 'Patua One', cursive;
    }

    h1{
        margin-bottom: 3rem;
    }

    h1 span {
        display: block;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6rem;
        font-weight: 100;
    }

    h2{
        margin-bottom: 2rem;
    }

    li{
        list-style: none;
    }


/*

Layout

*/
    header, footer {

      padding:5rem;
      position: relative;



    }

    header, footer{
        color: white;
        background:  #ffa86e;
        
        
    }    

    main {
        
        background: linear-gradient(#989898, #696a74);
        padding:3rem;
              


    }

    main section:not(first-of-type) {
       
        margin:5rem;


    }

    footer{
        padding: 2rem;
       
        width: 100%;
    }

/*

Fin Layout

*/

/*

Debut Header

*/

    nav a {
        background: rgba(255, 255, 255, .8);
        color: #1d225a;
        font-weight: 800;
        padding: 1rem;
        display: block;
        margin-bottom: .5rem;

        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
    }

    nav a:hover{
        background-color: white;
    }

    #burgerMenu {
        border: none;
        padding: 1rem 1.2rem;
        font-weight: 900;
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        border: .5rem solid #1d225a;


        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;

        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        }

    nav {
        height: 0;
        overflow: hidden;
        transition:.3s all    ;
        -webkit-transition:.3s all    ;
        -moz-transition:.3s all    ;
        -ms-transition:.3s all    ;
        -o-transition:.3s all    ;
    }

    nav.open {
        height:14rem;
    }



/*

Fin Header

*/

/* 
Portfolio
*/
    #previewProjects{

        margin-top: 2rem ;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #previewProjects h2 {
        text-align: center;
        width:100%;



    }

    #previewProjects article{
        height: 20rem;
        margin:auto;
        width: 90%;
        background: #eee;    
        position: relative;
        background-attachment: fixed;
        margin-bottom: 2rem; 
    }

    #previewProjects article:hover{
        background-color: #1d225a;
        opacity: .3;
        transition:.5s all;
        -webkit-transition:.5s all;
        -moz-transition:.5s all;
        -ms-transition:.5s all;
        -o-transition:.5s all;
        width:100%;
        height:25rem;
}



    #previewProjects article:first-of-type{
        background-image: url(/img/Dashboard\ \(1\).jpg); 
        background-size: 50%;
        background-position: center;
        background-repeat:no-repeat;
    
    }

    #previewProjects article:nth-of-type(2){
        background-image: url(/img/flyerOwen.jpg); 
        background-size: 50%;
        background-position: center;
        background-repeat:no-repeat;
    
    }

    #previewProjects article:nth-of-type(3){
        background-image: url(/img/logoKeeenofinal.jpg); 
        background-size: 50%;
        background-position: center;
        background-repeat:no-repeat; 
    
    }

    #previewProjects article:last-child{
        background-image: url(/img/1.png); 
        background-size: 50%;
        background-position: center;
        background-repeat:no-repeat;
    
    }




    #previewProjects article ul{
        position: absolute;
        background: white;
        padding: 2rem;
        width: 100%;
        left: 50%;
        bottom: 0;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);    
    }

    main button{

        color: white;
        background: #1d225a;
        padding: 1rem;
        border: none;
        -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;            

    } 


/* 
Formulaire
*/


    main form{
        margin-top: 4rem;
        margin-bottom:4rem;
    }
    main input, textarea{
        display: block;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-bottom: .2rem dotted #1d225a;
        margin-bottom: 1rem;
    }

    main textarea{
        min-height: 15rem;
    }

    main button[type="submit"]{
        color: white;
        background: #1d225a;
        padding: 1rem;
        border: none;
        -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;

    }      
    footer form{
        margin-top: 4rem;
        margin-bottom:4rem;
    }
    footer input, textarea{
        display: block;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-bottom: .2rem dotted #1d225a;
        margin-bottom: 1rem;
    }

    footer textarea{
        min-height: 15rem;
    }

    footer button[type="submit"]{
        color: white;
        background: #1d225a;
        padding: 1rem;
        border: none;
        -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;

    }  
    
    
    @media screen and (min-width:600px) { 


        header , main , footer {
    
            width:100%;
            margin:auto;
            text-align:center;         
        }           
    
        header {
    
            text-align:left;
            height:18rem;
            
            }

            header section {
    
                display:flex;
                
                }

        header h1{
    
            display:inline-block;
            margin-right:5rem;
                
        }

        #previewProjects h2 {
            text-align: left;
            width:100%;
    
    
    
        }


        main button{

            color: white;
            background: #1d225a;
            width:8rem;
            height:5rem;
            border: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;            
            text-transform: uppercase;
        } 
    /*Début Nav */
    
    
    nav {
    
      
            height: 4rem;
            overflow: hidden;
            transition:.3s all    ;
            -webkit-transition:.3s all    ;
            -moz-transition:.3s all    ;
            -ms-transition:.3s all    ;
            -o-transition:.3s all    ;
        
    
    
    }
    
    nav li {
        display:inline-block;
            
          
    }
    
    li {
        border:.5 grey solid;
    
    
    }
        
   
    
    ul {
        height: 2rem;
        overflow: visible;
        transition:.3s all    ;
        -webkit-transition:.3s all    ;
        -moz-transition:.3s all    ;
        -ms-transition:.3s all    ;
        -o-transition:.3s all    ;
    }
    
    header button {
    
        opacity:0;
    }


    #previewProjects{

        margin-top: 2rem ;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }


    #previewProjects h2 {
        
        width:100%;



    }

    #previewProjects article{
        height: 20rem;
        margin:auto;
        width: 50%;
        background: #eee;    
        position: relative;
        background-attachment: fixed;
        margin-bottom: 2rem; 
    }

    #previewProjects article ul{
       
        background: white;
        min-height:5rem;
        padding:1rem;
    }

    footer section{

        
        margin-top: 2rem ;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;

    }

    footer article {

        text-align: center;
        width:50%;
        margin:auto;



    }

    
    footer article li {

      display:inline-block;
        margin:1rem;


    }

    footer article a{

        color:red;
       
  
      }


    
}

/**/
@media screen and (min-width:850px) { 


    header , main:no-button ,  footer {

        width:100%;
        margin:auto;
        text-align:left;
    }

     


    section:nth-of-type(1){

    padding:1rem;
    }

    section:nth-of-type(2) {
    text-align: center;
    }    
    

    header {
        text-align:left;                
        }


/*Début Nav */



nav {

margin-top: 1rem;


}

nav li {
    display:inline-block;
        
      
}

li {
    border:.5 grey solid;


}
    
#previewProjects h2 {
    text-align: left;
    width:100%;



}

ul {
    height: .1rem;
    overflow: visible;
    transition:.3s all    ;
    -webkit-transition:.3s all    ;
    -moz-transition:.3s all    ;
    -ms-transition:.3s all    ;
    -o-transition:.3s all    ;
}

header button {

    opacity:0;
}

}

/**/