

       <section>

        <h2>You can send me a message for any inquiries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>




        <form action="#" name="contactForm">
            <input type="text" name="userName" placeholder="Nom">
            <input type="email" name="userEmail" placeholder="Email">
            <input type="text" name="userSubject" placeholder="Sujet">
            <textarea name="userMessage" placeholder="Message"></textarea>
            <button type="submit">Send</button>
        </form>

        
    </section>









