

 <section id="previewProjects">

    <article>
        <div>

            <ul>
                <li>Project 3</li>
                <li>Lorem</li>
            </ul>

        </div>
    </article>

    <article>
            <div>
    
                <ul>
                    <li>Project 3</li>
                    <li>Lorem</li>
                </ul>
    
            </div>
        </article>
        <article>
                <div>
        
                    <ul>
                        <li>Project 3</li>
                        <li>Lorem</li>
                    </ul>
        
                </div>
            </article>
            <article>
                    <div>
            
                        <ul>
                            <li>Project 3</li>
                            <li>Lorem</li>
                        </ul>
            
                    </div>
                </article>
                <article>
                        <div>
                
                            <ul>
                                <li>Project 3</li>
                                <li>Lorem</li>
                            </ul>
                
                        </div>
                    </article>
                    <article>
                            <div>
                    
                                <ul>
                                    <li>Project 3</li>
                                    <li>Lorem</li>
                                </ul>
                    
                            </div>
                        </article>









 </section>
 











